<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<!--Import Google Icon Font-->
	<link
		href="https://fonts.googleapis.com/icon?family=Material+Icons"
		rel="stylesheet"
	>

	<!-- Compiled and minified CSS -->
	<link
		rel="stylesheet"
		href="/assets/css/materialize.css"
	>
	<link
		rel="stylesheet"
		href="/assets/css/styles.css"
	>
	<!--Let browser know website is optimized for mobile-->
	<meta
		name="viewport"
		content="width=device-width, initial-scale=1.0"
	/>
	<meta
		name="description"
		content="{{metaTags.description}}"
	>
	<meta
		name="keywords"
		content="{{metaTags.keywords}}"
	>
	<title>{{metaTags.title}}</title>
</head>

<body>
	<header>
		<nav class="nav-extended">
			<div class="nav-wrapper">

				<div class="logo left">
					<a
						class="logo"
						href="/"
					>
						<img
							class="tooltipped"
							data-position="right"
							data-tooltip="Home"
							alt="logo"
							src="/assets/img/storeLogo.png"
							width=40
						/>
					</a>
				</div>

				<ul
					id="nav-mobile"
					class="right"
				>
					<li>
						<a
							{{metaTags.auth}}
							href="/signup"
						>
							<i
								class="material-icons tooltipped"
								data-position="bottom"
								data-tooltip="Sign up"
							>person_add</i>
						</a>
						{{!-- <a class="btn tooltipped" data-position="bottom" data-tooltip="I am a tooltip">Hover me!</a> --}}
					</li>
					<li>
						<a
							{{metaTags.auth}}
							href="/login"
						>
							<i
								class="material-icons tooltipped"
								data-position="bottom"
								data-tooltip="Login"
							>vpn_key</i>
						</a>
					</li>
					<li>
						<a
							{{metaTags.noauth}}
							href="/orders"
						>
							<i
								class="material-icons tooltipped"
								data-position="bottom"
								data-tooltip="Cart"
							>shopping_cart</i>
						</a>
					</li>
					<li>
						<a
							{{metaTags.noauth}}
							href="/logout"
						>
							<i
								class="material-icons tooltipped"
								data-position="bottom"
								data-tooltip="Logout"
							>keyboard_return</i>
						</a>
					</li>
				</ul>
			</div>
			<div class="nav-content">
				<ul class="tabs tabs-transparent">
					<li class="tab"><a onclick="window.location.replace('/')">All</a></li>
					{{#each metaTags.categories}}
					<li class="tab"><a
							class="{{active}}"
							onclick="handleTab('{{category}}')"
						>{{category}}</a></li>


					{{/each}}
				</ul>
			</div>

		</nav>
	</header>
	{{{ body }}}
	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="/assets/js/signup.js"></script>
	<script src="/assets/js/materialize.js"></script>
	<script src="/assets/js/login.js"></script>
	<script src="/assets/js/main.js"></script>
	<script src="/assets/js/order.js"></script>
</body>

</html>