<div class="container">
    <div class="container">
        <div class="card-panel signup">
            <h4>Orders</h4>
            <table>
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Qty</th>
                        <th>Price</th>
                        <th>Subtotal</th>

                    </tr>
                </thead>
                <tbody class="center">
                    {{#each order}}

                    <tr>
                        <td>
                            <div class="row">
                                <div class="col s12 m4">
                                    <img
                                        width="100%"
                                        src="/assets/img/{{img}}"
                                    />
                                </div>
                                <div class="col s12 m8">
                                    <div class="flex order-name truncate">
                                        {{product_name}}
                                    </div>

                                    <span class="order-description trunc">
                                        {{description}}
                                    </span>
                                </div>
                            </div>

                        </td>
                        <td>{{qty}}</td>
                        <td>{{{price}}}</td>
                        <td>{{{subtotal}}}</td>

                    </tr>
                    {{/each}}

                </tbody>
            </table>
            <div class="signup">
                <div class="row">
                    <div class="col s8">
                        <div class="row">
                            <div class="col s12">
                                <span class="mailto">
                                    Attention:
                                </span>
                                <div class="mailto-name trunc">
                                    {{first_name}} {{last_name}}
                                </div>

                            </div>
                            <div class="col s12">
                                <span class="mailto">
                                    Address:
                                </span>
                                <div class="mailto-detail">
                                    {{address}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s4 right-align">
                        <span class="mailto">
                            Total:
                        </span>
                        <div class="mailto-detail">
                            {{{total}}}
                        </div>

                    </div>
                </div>
                <div class="container center">
                    <button
                        class="btn btn-default"
                        onclick="checkout()"
                        {{!-- href="#checkout-modal" --}}
                        {{checkout}}
                    >checkout</button>
                </div>
            </div>

        </div>
    </div>
</div>
<div
    id="checkout-modal"
    class="modal"
>
    <div class="modal-content">
        <h4>Modal Header</h4>
        <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
        <a
            href="#!"
            class="modal-close waves-effect waves-green btn-flat"
        >Agree</a>
    </div>
</div>