<div class="container">
    <h1>{{categoryString}}</h1>

    <ul class="pagination center">
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
        {{#each pages}}
        <li class="{{active}}"><a onclick="handlePage('{{page}}')">{{page}}</a></li>
        {{/each}}
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
    </ul>
    <div class="row">
        {{#each products}}
        <div class="col s12 m3">
            <div class="card hoverable">
                <div class="card-image hoverable waves-effect waves-block waves-light">
                    <a onclick="handleProduct('{{id}}')">
                        <img
                            class="activator img"
                            src="/assets/img/{{img}}"
                        >
                    </a>
                </div>
                <div class="card-content">
                    <span class="card-title truncate">{{product_name}}</span>
                    <span class="pink-text card-price">{{{price}}}</span>
                    <p class="trunc">{{description}}</p>
                </div>
                <div class="card-action">
                    <a onclick="orderItem({{id}},'{{product_name}}')">
                        Order
                    </a>

                </div>
            </div>
        </div>
        {{/each}}
    </div>
    <ul class="pagination center">
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
        {{#each pages}}
        <li class="{{active}}"><a onclick="handlePage('{{page}}')">{{page}}</a></li>
        {{/each}}
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
    </ul>
</div>