<div class="container">
    <h1>Burgers Menu</h1>
    <div class="row">
        {{#each products}}
        <div class="col s12 m3">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <a href="/product/{{id}}">
                        <img
                            class="activator"
                            src="/assets/img/{{img}}"
                        >
                    </a>
                </div>
                <div class="card-content">
                    <span class="card-title">{{product_name}}</span>
                    <p>${{price}}</p>
                    <p>{{description}}</p>
                </div>
                <div class="card-action">
                    <a onclick="orderItem({{id}})">Order</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>